* {
  margin: 0;
  box-sizing: border-box;
}


$primary-color-100: #d5f1f1;
$primary-color: #23bcec;
$primary-color-rgb: 35, 188, 236;
$primary-color-900: #204f5e;
$primary-color-900-rgb: 32, 79, 94;
$secondary-color: #ee753d;
$secondary-color-rgb: 236, 185, 52;
$black-color: #000000;
$black-color-rgb: 0, 0, 0;
$white-color: #ffffff;
$white-color-rgb: 255, 255, 255;
$bg-color: #faffff;
$bg-color-rgb: 250, 255, 255;
$description-color: #5a8695;
$font-family: 'Assistant';
$font-size: 16px;
$font-weight: 300;
$line-height: 1.5;
$gutter-width: 15px;

:root {
  --primary-100: #{$primary-color-100};
  --primary: #{$primary-color};
  --primary-rgb: #{$primary-color-rgb};
  --primary-900: #{$primary-color-900};
  --primary-900-rgb: #{$primary-color-900-rgb};
  --secondary: #{$secondary-color};
  --secondary-rgb: #{$secondary-color-rgb};
  --black-color: #{$black-color};
  --black-rgb: #{$black-color-rgb};
  --white: #{$white-color};
  --white-rgb: #{$white-color-rgb};
  --bg: #{$bg-color};
  --bg-rgb: #{$bg-color-rgb};
  --text-color: #{$description-color};
  --font: #{$font-family};
  --fs: #{$font-size};
  --fw: #{$font-weight};
  --lh: #{$line-height};
  --gw: #{$gutter-width};
}

body{
  font-family: 'Assistant';
}
.container {
  width: 1320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.w-1 {
  width: 8.33%;
}

.w-2 {
  width: 16.66%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.33%;
}

.w-5 {
  width: 41.66%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.33%;
}

.w-8 {
  width: 66.66%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.33%;
}

.w-11 {
  width: 91.66%;
}

.w-12 {
  width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
  padding-left: 15px;
  padding-right: 15px;
}

.w-n {
  display: none;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.col-gap {
  column-gap: 5px;
}

ul,
ol,
li {
  list-style: none;
}
body > span{
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--secondary);
  font-size:50px;
  text-align:center;
  display: block;
  width: 100%;
}
body {
  
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.col-gap-30 {
  column-gap: 30px;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.align-start {
  align-content: flex-start;
}

.align-center {
  align-content: center;
}

.align-end {
  align-content: flex-end;
}

.align-between {
  align-content: space-between;
}

.align-around {
  align-content: space-around;
}

.align-evenly {
  align-content: space-evenly;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.align-start {
  align-content: flex-start;
}
.py{
  padding-top: 100px;
}
.pb{
  padding-bottom: 100px;
}
